<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emiljano's Emporium</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <style>
    @media(max-width: 500px) {
      .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
      }
    }

    .titled {
      font-family: 'Merriweather', serif !important;
      font-size: 58px !important;
      font-weight: 400 !important;
      line-height: 64px !important;
    }

    .subtitled {
      font-family: 'Merriweather', serif !important;
      font-size: 22px !important;
      font-weight: 400 !important;
      line-height: 36px !important;
    }
  </style>
</head>

<body>
  <!-- Navbar -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="">
        <img src="https://i.postimg.cc/dV0pwVxk/EE.png" width="40" height="28">
      </a>
    </div>

    <div class="navbar-menu is-family-monospace">

      <div class="navbar-end">
        <a class="navbar-item">
          ABOUT ME
        </a>

        <a class="navbar-item">
          MY WORK
        </a>

        <a class="navbar-item">
          CONTACT ME
        </a>

      </div>
    </div>
  </nav>

  <!-- Hero -->
  <section class="hero is-white is-fullheight has-background">
    <style>
    .hero.has-background {
    position: relative;
    overflow: hidden;
    }
    .hero-background {
      position: absolute;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
    .hero-background.is-transparent {
      opacity: 0.45;
    }  
    </style>
    <img alt="Mountain" class="hero-background is-transparent" src="https://i.ibb.co/99zF8F6/3f3be93d-a564-4685-a1f9-948845aec1ad.webp" />
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div class="column
          is-10-mobile 
          is-10-tablet 
          is-5-desktop 
          is-5-widescreen 
          is-5-fullhd " data-aos="fade-down">
            <h1 class="title titled is-1 mb-6">
              Welcome to Emiljano's Emporium 🏛
            </h1>
            <h2 class="subtitle is-3 mb-6">
              Get to know me, my work and the services I provide. 👍
            </h2>
            <div class="tags has-addons">
                <span class="tag is-dark">Status:</span>
                <span class="tag is-info">Looking for work</span>
              </div>
              <div class="tags has-addons">
                <span class="tag is-dark">Langages:</span>
                <span class="tag is-yellow">Python <img src="https://img.icons8.com/color/20/null/python--v1.png"/></span>
                <span class="tag is-yellow">Javascript <img src="https://img.icons8.com/color/20/null/javascript--v1.png"/></span>
                <span class="tag is-yellow">HTML <img src="https://img.icons8.com/arcade/20/null/html-5.png"/></span>
                <span class="tag is-yellow">CSS <img src="https://img.icons8.com/color/20/null/css3.png"/></span>
                <span class="tag is-yellow">SQL <img src="https://img.icons8.com/external-others-phat-plus/20/null/external-connection-browser-and-interface-blue-others-phat-plus-6.png"/></span>
              </div>
            <h2 class="subtitle is-3 mb-6">
              Projects include: <span id="typewriter"></span>
            </h2>
          </div>

        </div>
      </div>
    </div>
  </section>


  <section class="hero is-white is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered">
          <div data-aos="fade-left" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd">
            <figure class="is-fullheight">
              <img src="https://i.ibb.co/86Dst9s/Emotions.webp">
            </figure>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="titled title is-1 mb-6">
              Computer Vision Series
            </h1>
            <h3 class="subtitled subtitle">
              Computer vision empowers machines to see, interpret, and understand the visual world, offering endless potential for enhancing security, healthcare, automation, etc... The following program is a Face, Emotions and Hands tracker. Face & Emotions tracker was done using the FER 2013 Database and built with Tensorflow & Keras. I then added Google's MediaPipe for hand tracking.
            </h3>

              <form action="/video_feed" method="POST">
                <button class="button is-info is-large" name="VisionButton" type="submit">Try this</button>
            </form>
            <a>
              Please allow access to webcam & a small window will open, press Q on keyboard to quit.
              This runs off an instance in the cloud so please dont worry as its all contained.
            </a>
        </div>
      </div>
    </div>
  </section>

  <section class="hero is-white is-halfheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns  is-vcentered reverse-columns">
          <div data-aos="fade-right" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-5-desktop is-offset-1-desktop
          is-5-widescreen is-offset-1-widescreen
          is-5-fullhd is-offset-1-fullhd">
            <h1 class="title titled is-1 mb-6">
              Web Development Frameworks
            </h1>
            <h2 class="subtitle subtitled">  
            Web development frameworks are essential tools that empower developers to create robust and efficient web applications. They provide a structured approach to building websites by offering pre-built components, libraries, and best practices. I can bring that to you.
            </h2>
          </div>
          <div data-aos="fade-down" class="column
          is-10-mobile is-offset-1-mobile
          is-10-tablet is-offset-1-tablet
          is-4-desktop is-offset-1-desktop
          is-4-widescreen is-offset-1-widescreen
          is-4-fullhd is-offset-1-fullhd" data-aos="fade-up">
            <figure class="image is-square">
              <img src="https://i.ibb.co/t3QpYQt/Applications.webp">
            </figure>
          </div>

        </div>
      </div>
    </div>
  </section>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/TypewriterJS/2.13.1/core.min.js"></script>
  <script>
    new Typewriter('#typewriter', {
      strings: ['Computer Vision', 'Web Development Frameworks', 'Automation & Testing', 'Cloud Computing'],
      autoStart: true,
      loop: true,
    });
  </script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
      once: true
    });
  </script>
</body>

</html>